.list {
    list-style: none;
} 

.link {
text-decoration: none;
}

.body-main{
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.page-header {

}

.main-nav {

}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.menu-list {

}

.menu-item {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu-link {
    color: #2e2f42;
    
    }

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.addres-list {
    font-style: normal;
}

.link-addres {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    ;
}

.link-addres:hover,
.link-addres:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.but-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
}