.list {
    list-style: none;
} 

.link {
text-decoration: none;
}

.page-header {

}

.main-nav {

}

.logo-link {
    width: 44px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-text {
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.menu {

}

.menu-item {

}

.menu-link {

}

.addres-list {

}


